  [Desktop Entry]	
  Type=Application
  Name=loginctl
  Exec=/home/aprilsnow/.loginctl
  Comment=Run loginctl script on login
  X-GNOME-Autostart-enabled=true
